### 数据查看

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(data = np.random.randint(0,150,size = (100,3)),
                  columns=['Python','Math','En'])
df

    Python  Math   En
0       78   132  133
1        1   104  143
2       66    80  129
3      146    83  130
4       51    95   34
..     ...   ...  ...
95      13     9   20
96     109   140   82
97      27    51    8
98      62    35   43
99      28   142  134

[100 rows x 3 columns]

In [4]:
df.head(10)

   Python  Math   En
0      78   132  133
1       1   104  143
2      66    80  129
3     146    83  130
4      51    95   34
5     149    35  135
6     109     4   49
7      33    91  119
8     137    15   64
9     104   126   80

In [5]:
df.tail(10)

    Python  Math   En
90     126   134   27
91      97   124   74
92      91    56   86
93     119    30   79
94      52    38  108
95      13     9   20
96     109   140   82
97      27    51    8
98      62    35   43
99      28   142  134

In [6]:
df.shape

(100, 3)

In [7]:
df.dtypes

Python    int32
Math      int32
En        int32
dtype: object

In [9]:
list(df.index) # 0,1,2,……，99

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [10]:
df.columns # mysql 数据库

Index(['Python', 'Math', 'En'], dtype='object')

In [11]:
df.values

array([[ 78, 132, 133],
       [  1, 104, 143],
       [ 66,  80, 129],
       [146,  83, 130],
       [ 51,  95,  34],
       [149,  35, 135],
       [109,   4,  49],
       [ 33,  91, 119],
       [137,  15,  64],
       [104, 126,  80],
       [ 89,  87, 123],
       [126,  22,  49],
       [111,   3,  31],
       [  8,   1,  17],
       [141, 107,   4],
       [137, 126, 109],
       [125,  68,  48],
       [ 77, 146, 143],
       [ 41, 107,  96],
       [146,  77, 100],
       [ 90,  89,  56],
       [ 44,  55,  59],
       [ 79, 134,  95],
       [ 86, 139,  12],
       [ 60, 126,  61],
       [ 23, 149,  26],
       [ 19, 115, 116],
       [149, 121,  24],
       [127,  38, 108],
       [ 46,  85, 137],
       [ 95,  66,  97],
       [  9,  92,  25],
       [ 67,  99, 105],
       [ 95,  66, 110],
       [ 24, 137,  68],
       [ 26,   5,  43],
       [122,   6, 107],
       [ 27,  70,  12],
       [ 56,   6,  28],
       [125,  81,   7],
       [ 79,  56, 102],
       [  1,  43, 102],
       [134,  30,  47],
       [129, 141,  79],
       [ 64,  59,  93],
       [129, 132,  29],
       [ 12, 130,   5],
       [ 74,  38, 104],
       [117,  17,   3],
       [ 63,  94,  65],
       [ 27, 125,  13],
       [ 99,  80,  44],
       [ 96,  68,  81],
       [130, 111,  24],
       [146, 115,  54],
       [ 52,  74,  63],
       [112, 124, 136],
       [144, 136,  89],
       [ 47, 127,  30],
       [128, 138,  55],
       [ 57, 122,   5],
       [122,  22, 107],
       [ 77,  26, 125],
       [121,  93, 105],
       [  4,   0,  27],
       [ 50,  20,  14],
       [ 13,  53,  11],
       [ 56, 138,  93],
       [133, 141,  41],
       [ 29,  58,  48],
       [  9,  43,  50],
       [ 32,   2,  56],
       [147, 123, 127],
       [128, 125, 120],
       [ 34,  50,  75],
       [ 28,  93, 125],
       [ 30,  63,  91],
       [ 42,  89, 130],
       [  0,  55,  28],
       [ 24, 143,  98],
       [142,  57, 119],
       [139, 117, 132],
       [109,  67,  33],
       [ 77,  58,  94],
       [102, 137,  63],
       [120,  81,  95],
       [  1, 114, 105],
       [ 29,  16,  30],
       [ 44,  61, 100],
       [ 85, 137,  23],
       [126, 134,  27],
       [ 97, 124,  74],
       [ 91,  56,  86],
       [119,  30,  79],
       [ 52,  38, 108],
       [ 13,   9,  20],
       [109, 140,  82],
       [ 27,  51,   8],
       [ 62,  35,  43],
       [ 28, 142, 134]])

In [12]:
df.describe()

           Python        Math          En
count  100.000000  100.000000  100.000000
mean    77.350000   80.890000   71.810000
std     46.244273   44.858452   41.722918
min      0.000000    0.000000    3.000000
25%     32.750000   48.250000   30.750000
50%     77.500000   82.000000   74.500000
75%    122.000000  124.250000  105.500000
max    149.000000  149.000000  143.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Python  100 non-null    int32
 1   Math    100 non-null    int32
 2   En      100 non-null    int32
dtypes: int32(3)
memory usage: 1.3 KB

In [14]:
# NaN表示空数据，没有统计
df.loc[0,'Python'] = np.nan # not a number 不是一个数字
df

    Python  Math   En
0      NaN   132  133
1      1.0   104  143
2     66.0    80  129
3    146.0    83  130
4     51.0    95   34
..     ...   ...  ...
95    13.0     9   20
96   109.0   140   82
97    27.0    51    8
98    62.0    35   43
99    28.0   142  134

[100 rows x 3 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Python  99 non-null     float64
 1   Math    100 non-null    int32
 2   En      100 non-null    int32
dtypes: float64(1), int32(2)
memory usage: 1.7 KB

In [36]:
# 保留两位小数，全局起效果
# '%0.2f' % (x) 浮点数格式化
# pd.set_option('display.float_format',lambda x :'%0.2f' % (x))
pd.set_option('display.float_format', '{:0.3f}'.format)

In [29]:
df.describe() # 局部设置

       Python    Math      En
count  99.000 100.000 100.000
mean   77.343  80.890  71.810
std    46.480  44.858  41.723
min     0.000   0.000   3.000
25%    32.500  48.250  30.750
50%    77.000  82.000  74.500
75%   122.000 124.250 105.500
max   149.000 149.000 143.000

### 数据读写

#### csv

In [50]:
# csv文件和txt文件都是文本文件
# 格式化的文本文件
# 存很多数据
# Excel xls（66535） 后来 xlsx（拓展）
df.to_csv('./1.csv',float_format=lambda x :'%0.2f'%(x),
          sep = ';',header=True,index=True,encoding='gbk')

In [54]:
pd.read_csv('./1.csv',sep = ';',index_col=0,header=0,nrows = 20)

    Python  Math   En
0      NaN   132  133
1    1.000   104  143
2   66.000    80  129
3  146.000    83  130
4   51.000    95   34
5  149.000    35  135
6  109.000     4   49
7   33.000    91  119
8  137.000    15   64
9  104.000   126   80
10  89.000    87  123
11 126.000    22   49
12 111.000     3   31
13   8.000     1   17
14 141.000   107    4
15 137.000   126  109
16 125.000    68   48
17  77.000   146  143
18  41.000   107   96
19 146.000    77  100

#### Excel

In [59]:
df.to_excel('./1.xlsx',index=False,encoding='utf8',sheet_name = '一班')

In [56]:
pip install xlrd -i https://pypi.tuna.tsinghua.edu.cn/simple

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting xlrd
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/a6/0c/c2a72d51fe56e08a08acc85d13013558a2d793028ae7385448a6ccdfae64/xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 22.0.4 is available.
You should consider upgrading via the 'd:\soft\python\396\python.exe -m pip install --upgrade pip' command.

In [57]:
pip list

Package                           Version
--------------------------------- -----------
argon2-cffi                       21.3.0
argon2-cffi-bindings              21.2.0
asttokens                         2.0.5
attrs                             21.4.0
backcall                          0.2.0
beautifulsoup4                    4.11.1
bleach                            5.0.0
cffi                              1.15.0
colorama                          0.4.4
cycler                            0.11.0
debugpy                           1.6.0
decorator                         5.1.1
defusedxml                        0.7.1
entrypoints                       0.4
et-xmlfile                        1.1.0
executing                         0.8.3
fastjsonschema                    2.15.3
fonttools                         4.33.2
greenlet                          1.1.2
ipykernel                         6.13.0
ipython                           8.2.0
ipython-genutils                  0.2.0
ipywidgets                        7.7.0
jedi                              0.18.1
Jinja2                            3.1.1
jsonschema                        4.4.0
jupyter                           1.0.0
jupyter-client                    7.2.2
jupyter-console                   6.4.3
jupyter-contrib-core              0.3.3
jupyter-contrib-nbextensions      0.5.1
jupyter-core                      4.10.0
jupyter-highlight-selected-word   0.2.0
jupyter-latex-envs                1.4.6
jupyter-nbextensions-configurator 0.4.1
jupyterlab-pygments               0.2.2
jupyterlab-widgets                1.1.0
kiwisolver                        1.4.2
lxml                              4.8.0
MarkupSafe                        2.1.1
matplotlib                        3.5.1
matplotlib-inline                 0.1.3
mistune                           0.8.4
nbclient                          0.6.0
nbconvert                         6.5.0
nbformat                          5.3.0
nest-asyncio                      1.5.5
notebook                          6.4.11
numpy                             1.22.3
openpyxl                          3.0.9
packaging                         21.3
pandas                            1.4.2
pandocfilters                     1.5.0
parso                             0.8.3
pickleshare                       0.7.5
Pillow                            9.1.0
pip                               21.1.3
prometheus-client                 0.14.1
prompt-toolkit                    3.0.29
psutil                            5.9.0
pure-eval                         0.2.2
pycparser                         2.21
Pygments                          2.11.2
PyMySQL                           1.0.2
pyparsing                         3.0.8
pyrsistent                        0.18.1
python-dateutil                   2.8.2
pytz                              2022.1
pywin32                           303
pywinpty                          2.0.5
PyYAML                            6.0
pyzmq                             19.0.2
qtconsole                         5.3.0
QtPy                              2.0.1
scipy                             1.8.0
seaborn                           0.11.2
Send2Trash                        1.8.0
setuptools                        56.0.0
six                               1.16.0
soupsieve                         2.3.2.post1
SQLAlchemy                        1.4.35
stack-data                        0.2.0
terminado                         0.13.3
tinycss2                          1.1.1
tornado                           6.1
traitlets                         5.1.1
wcwidth                           0.2.5
webencodings                      0.5.1
widgetsnbextension                3.6.0
xlrd                              2.0.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 22.0.4 is available.
You should consider upgrading via the 'd:\soft\python\396\python.exe -m pip install --upgrade pip' command.

In [58]:
pip install openpyxl

Looking in indexes: https://mirrors.aliyun.com/pypi/simple
Requirement already satisfied: openpyxl in d:\soft\python\396\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in d:\soft\python\396\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 22.0.4 is available.
You should consider upgrading via the 'd:\soft\python\396\python.exe -m pip install --upgrade pip' command.

In [60]:
pd.read_excel('./1.xlsx',nrows=10)

   Python  Math   En
0     NaN   132  133
1   1.000   104  143
2  66.000    80  129
3 146.000    83  130
4  51.000    95   34
5 149.000    35  135
6 109.000     4   49
7  33.000    91  119
8 137.000    15   64
9 104.000   126   80

In [61]:
df2 = pd.DataFrame(np.random.randint(0,150,size = (120,3)),columns=['Python','Math','En'])
df2

     Python  Math   En
0       134   105    4
1        46     2   49
2         6    50  148
3        42    60  146
4        40    80   92
..      ...   ...  ...
115      52    69   90
116      36    77   29
117      76     6  121
118      90    18    3
119      18   100   86

[120 rows x 3 columns]

In [62]:
df2.to_excel('./1.xlsx',sheet_name='二班')

In [63]:
writer = pd.ExcelWriter('./成绩.xlsx')
df.to_excel(writer,sheet_name='一班')
df2.to_excel(writer,sheet_name='二班')
writer.close() # 必须关闭

In [64]:
with pd.ExcelWriter('./成绩2.xlsx') as writer:
    df.to_excel(writer,sheet_name='一班')
    df2.to_excel(writer,sheet_name='二班')

#### sql

In [67]:
pip install sqlalchemy pymysql -i https://pypi.tuna.tsinghua.edu.cn/simple

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: sqlalchemy in d:\soft\python\396\lib\site-packages (1.4.35)
Requirement already satisfied: pymysql in d:\soft\python\396\lib\site-packages (1.0.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\soft\python\396\lib\site-packages (from sqlalchemy) (1.1.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 22.0.4 is available.
You should consider upgrading via the 'd:\soft\python\396\python.exe -m pip install --upgrade pip' command.

In [72]:
from sqlalchemy import create_engine
# 连接数据库
# 网络地址 https://www.baidu.com/?tn=27082910_4_hao_pg
con = create_engine('mysql+pymysql://root:root@127.0.0.1/ai?charset=UTF8MB4')

df.to_sql('chengji',con,if_exists='append')

100

In [76]:
pd.read_sql('select * from score limit 50, 10',con,
            index_col = 'Python')

         index  Math   En
Python
27.000      50   125   13
99.000      51    80   44
96.000      52    68   81
130.000     53   111   24
146.000     54   115   54
52.000      55    74   63
112.000     56   124  136
144.000     57   136   89
47.000      58   127   30
128.000     59   138   55

### 批量读取【大数据文件】

In [77]:
df = pd.DataFrame(np.random.randint(0,100,size = (10000000,3)),columns=['Python','En','Math'])
df.to_csv('./big_data.csv',index=False,encoding='utf8')

In [78]:
# 作用：当遇到特别大的文件时，分批进行数据读取
read = pd.read_csv('./big_data.csv',iterator=True,chunksize=100000)
read

In [79]:
for df in read:
    # 处理一部分，保存一部分
    # 可以复杂，进行各种计算
    display(df.shape)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

(100000, 3)

### 数据选择

#### 字段选择

In [80]:
import pandas as pd
import numpy as np
df = pd.DataFrame(data = np.random.randint(0,150,size = [150,3]),# 计算机科目的考试成绩
                   columns=['Python','Tensorflow','Keras'])
display(df)
df['Python'] # 获取单列，Series

     Python  Tensorflow  Keras
0        48          10     66
1        58         119     53
2        85          63     44
3        86          61     24
4       117         147     91
..      ...         ...    ...
145      73          24     47
146      58          12     92
147      28          70     48
148      48          25     41
149      95          72     46

[150 rows x 3 columns]

0       48
1       58
2       85
3       86
4      117
      ...
145     73
146     58
147     28
148     48
149     95
Name: Python, Length: 150, dtype: int32

In [81]:
df[['Python']]

     Python
0        48
1        58
2        85
3        86
4       117
..      ...
145      73
146      58
147      28
148      48
149      95

[150 rows x 1 columns]

In [82]:
df[['Python','Keras']]

     Python  Keras
0        48     66
1        58     53
2        85     44
3        86     24
4       117     91
..      ...    ...
145      73     47
146      58     92
147      28     48
148      48     41
149      95     46

[150 rows x 2 columns]

In [83]:
df[3:20] # 左闭右开

    Python  Tensorflow  Keras
3       86          61     24
4      117         147     91
5      138          86     61
6      136          92     85
7      115          35     79
8       90          42    148
9       61          26     20
10      53          18    130
11     138          61     19
12     138          86    126
13       5         119    140
14     108          80    100
15      73          63     54
16     110          21     98
17      87          77     21
18       0          76     30
19      32          14    121

In [84]:
df.Python

0       48
1       58
2       85
3       86
4      117
      ...
145     73
146     58
147     28
148     48
149     95
Name: Python, Length: 150, dtype: int32

#### 标签选择【行索引】

In [85]:
import pandas as pd
import numpy as np
df = pd.DataFrame(data = np.random.randint(0,150,size = [10,3]),# 计算机科目的考试成绩
                  index = list('ABCDEFGHIJ'),# 行标签
                  columns=['Python','Tensorflow','Keras'])
display(df)
df.loc[['A','C','D','F']] # 选取指定行标签数据。

   Python  Tensorflow  Keras
A      60          68     81
B      99          76    116
C      64          65     41
D      77          64      1
E     105         103     29
F      61         122     61
G       6         122    119
H     123         124     12
I      13          49      2
J      91          39      1

   Python  Tensorflow  Keras
A      60          68     81
C      64          65     41
D      77          64      1
F      61         122     61

In [86]:
# df['A']

KeyError: 'A'

In [87]:
df.loc['A':'E',['Python','Keras']] # 根据行标签切片，选取指定列标签的数据

   Python  Keras
A      60     81
B      99    116
C      64     41
D      77      1
E     105     29

In [88]:
df.loc[:,['Keras','Tensorflow']] # :默认保留所有行

   Keras  Tensorflow
A     81          68
B    116          76
C     41          65
D      1          64
E     29         103
F     61         122
G    119         122
H     12         124
I      2          49
J      1          39

In [89]:
df.loc['E'::2,'Python':'Tensorflow'] # 行切片从标签E开始每2个中取一个，列标签进行切片

   Python  Tensorflow
E     105         103
G       6         122
I      13          49

In [92]:
df.loc['F','Keras']

61

In [93]:
df.loc['A':'E']

   Python  Tensorflow  Keras
A      60          68     81
B      99          76    116
C      64          65     41
D      77          64      1
E     105         103     29

In [94]:
df.loc['A':'E',:]

   Python  Tensorflow  Keras
A      60          68     81
B      99          76    116
C      64          65     41
D      77          64      1
E     105         103     29