### pandas数据结构

#### Series[一维]

In [1]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series(data = np.random.randint(0,150,size = 10),
              dtype=np.float16,
              index = list('ABCDEFHIJK'),name = 'Python')
s
# Series 更加结构化。

A     92.0
B    119.0
C    118.0
D      7.0
E      9.0
F     39.0
H     41.0
I     18.0
J     34.0
K     29.0
Name: Python, dtype: float16

In [5]:
s.values # 获取的数据，就是NumPy数组

array([ 92., 119., 118.,   7.,   9.,  39.,  41.,  18.,  34.,  29.],
      dtype=float16)

#### DataFrame[二维]

In [6]:
df = pd.DataFrame({'Python':[30,80,100],'Math':[100,20,149]})
df

   Python  Math
0      30   100
1      80    20
2     100   149

In [7]:
df2 = pd.DataFrame(data = np.random.randint(0,150,size = (10,3)),
                   index = list('ABCDEFHIJK'),# 行索引
                   columns=['Python','Math','En']) # 列索引
df2

   Python  Math   En
A     130   133  106
B      54    28  126
C      48    29   52
D      94    45   35
E      94   122  149
F      30    41  139
H      33   110  106
I     118   123   70
J      24    93   72
K     139     8   56

In [9]:
df3 = pd.DataFrame(data = np.random.randint(0,150,size = (1000,3)),
                   columns=['Python','Math','En'])
df3
# 如果删掉行索引，会给一个默认的。
# 如下

     Python  Math   En
0        49    53  137
1        82    86  106
2        68    27   93
3        91    48  122
4       107    18  145
..      ...   ...  ...
995     139    64   11
996     103    30    2
997     121   147   44
998     145     4   36
999      10     0  119

[1000 rows x 3 columns]

In [10]:
df3['Python'] # 取出的一列，是Series
# DataFrame是由多个Series组成

0       49
1       82
2       68
3       91
4      107
      ...
995    139
996    103
997    121
998    145
999     10
Name: Python, Length: 1000, dtype: int32

In [11]:
df3.values # NumPy数组，就是二维的数组

array([[ 49,  53, 137],
       [ 82,  86, 106],
       [ 68,  27,  93],
       ...,
       [121, 147,  44],
       [145,   4,  36],
       [ 10,   0, 119]])

In [13]:
import pandas as pd
# SQLAlchemy是Python编程语言下的一款开源软件。提供了SQL工具包及对象关系映射（ORM）工具
from sqlalchemy import create_engine
df = pd.DataFrame(data = np.random.randint(0,50,size = [150,3]),# 计算机科目的考试成绩
                   columns=['Python','Tensorflow','Keras'])
# 数据库连接
conn = create_engine('mysql+pymysql://root:root@localhost/pandas?charset=UTF8MB4')
# 保存到数据库
df.to_sql('score',#数据库中表名
          conn,# 数据库连接
          if_exists='append')#如果表名存在，追加数据
# 从数据库中加载
pd.read_sql('select * from score limit 10', # sql查询语句
            conn, # 数据库连接
            index_col='Python') # 指定行索引名

        index  Tensorflow  Keras
Python
39          0          38     37
42          1          31     35
6           2          13     49
38          3          25      9
33          4          23     11
8           5          45     35
41          6          26     16
10          7          21     11
42          8          30     27
33          9           9     19